a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    font-family: 'Kanit';
    font-weight: 700;
    font-size: 1.1rem;
}

.navbar .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar .nav-links li a {
    color: #242424;
    transition: 0.3s color;
}

.navbar .nav-links li a:hover {
    color: #c0aa83;
}

.navbar .actions i {
    padding: 20px;
}
